const gallery = document.getElementById("gallery");
const tabs = document.querySelectorAll("nav li");

const images = [
  "building_1.jpg",
  "building_2.jpg",
  "scripting_1.jpg",
  "modeling_1.jpg",
  "animating_1.jpg",
  "vfx_1.jpg",
  "ui_1.jpg"
];

function load(tab) {
  gallery.innerHTML = "";
  images.forEach(i => {
    if (i.startsWith(tab)) {
      const card = document.createElement("div");
      card.className = "card";
      const img = document.createElement("img");
      img.src = "assets/" + i;
      card.appendChild(img);
      gallery.appendChild(card);
    }
  });
}

tabs.forEach(t => {
  t.addEventListener("click", () => {
    load(t.dataset.tab);
  });
});

load("building");
